<h1>Factuur Cursus Inschrijving</h1>

<h2>Cursist</h2>
<p>
  Naam: <%= @entry.user.first_name %> <%= @entry.user.last_name %><br>
  Email: <%= @entry.user.email %><br>
  Telefoon: <%= @entry.user.telephone %><br>
  Postcode: <%= @entry.user.zip_code %><br>
  Woonplaats <%= @entry.user.city %><br>
</p>

<h2>Cursus</h2>
<p>
  Start Datum:<strong><%= @entry.course.start_date %></strong><br>
  Prijs: <strong><%= number_to_currency(@entry.course.course_type.price) %></strong>
</p>


<%= link_to "Bekijk factuur als PDF",entry_path(@entry, :format => 'pdf'), class: 'btn btn-info' %>
<%= link_to 'Terug', entries_path, class: 'btn btn-default' %>