<p>
  Naam: <%= @ship.name %>
</p>
<p>
  Averij? <%= @ship.damaged %>
</p>
<p>
  Design <%= @ship.design.name %>
</p>
<% if can? :manage, :all  %>
  <%= link_to 'Edit', edit_ship_path(@ship) %>
<% end  %>
<%= link_to 'Terug', ships_path %>

