<h1>Cursussen</h1>

<table class="table">
  <tr>
    <th>Cursus Type</th>
    <th>Begin Datum</th>
    <th colspan="3"></th>
  </tr>

  <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_type.name %></td>
        <td><%= course.start_date %></td>
        <td><%= link_to 'Show', course_path(course) %></td>
        <% if can? :manage, :all  %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course_path(course),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        <% end  %>
      </tr>
  <% end %>
</table>
<% if can? :manage, :all  %>
  <%= link_to 'Nieuwe Cursus', new_course_path %>
<% end %>