<h1>Cursussen</h1>

<table class="table">
  <tr>
    <th>Cursus Type</th>
    <th>Begin Datum</th>
    <th colspan="3"></th>
  </tr>

  <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_type.name %></td>
        <td><%= course.start_date %></td>
        <td><%= link_to 'Show', course_path(course) %></td>
        <% if user_signed_in? %>
          <td>  <%= form_for @entry do |f| %>
                <%= f.hidden_field :course_id, :value => course.id %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.submit 'Inschrijven!' %>
            <% end %>
          </td>
        <% else %>
          <td><%= link_to 'Inschrijven!', new_user_registration_path, message: 'Log in om je in te schrijven.' %></td>
        <% end %>
        <% if can? :manage, :all  %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course_path(course),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        <% end  %>
      </tr>
  <% end %>
</table>
<% if can? :manage, :all  %>
  <%= link_to 'Nieuwe Cursus', new_course_path %>
<% end %>