<h1><%= @course.course_type.name %></h1>
Start Datum: <strong><%= @course.start_date %></strong><br>
<p>
  <%= @course.description %>
</p>

Prijs <strong><%= number_to_currency(@course.course_type.price, unit: "€") %></strong>
<p>

<% if @freespots <= @course.course_type.ship_amount %>
    <p>
      <strong>Deze cursus zit helaas al vol</strong>
    </p>
<% else %>
<p>
  Inschrijvingen: <strong>Er zijn nog <%= @freespots %> plekken vrij</strong>
</p>
  <%= form_for @entry do |f| %>
    <%= f.hidden_field :course_id, :value => @course.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit 'Inschrijven!' %>
  <% end %>
</p>
<% end %>

<% if can? :manage, :all  %>
<h1>Inschrijvingen</h1>
    <strong>Overzicht <%= @course.course_type.name %> Cursus <%= @course.start_date %></strong>
    <table class="table">
      <thead>
      <tr>
        <td>Naam</td>
        <td>Postcode</td>
        <td>Woonplaats</td>
        <td>Telefoon</td>
        <td>Email</td>
      </tr>
      </thead>
      <tbody>
      <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user.first_name %> <%= entry.user.last_name %></td>
        <td><%= entry.user.zip_code %></td>
        <td><%= entry.user.city %></td>
        <td><%= entry.user.telephone %></td>
        <td><%= entry.user.email %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "Bekijk als PDF", course_path(@course, :format => 'pdf') %>

<% end %>

<%= link_to 'Terug', courses_path %>